@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #8b8b8b;
  --dark: #5a5a5a;
}
.form__group {
  background-color: var(--white);
  position: relative;
  margin-top: 6.5px;
  width: 100%;
  border: 1.3px solid #ccced0;
  padding: 12px 6.5px 3px 6.5px;
  border-radius: 6.5px;
  margin-bottom: 1rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 0.9rem;
  color: var(--dark);
  font-weight: 500;
  padding: 4.55px 0 3.5px;
  background: transparent;
  transition: border-color 0.13s;
}

.form__field::placeholder {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 11px;
  color: var(--gray);
}

.form__label {
  position: absolute;
  top: 4.2px;
  display: block;
  transition: 0.13s;
  font-size: 0.7rem;
  color: var(--dark);
  letter-spacing: 0.5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__field:focus ~ .form__label {
  padding-top: 3.25px;
  position: absolute;
  top: 0.9px;
  display: block;
  transition: 0.13s;
  font-size: 0.7rem;
  color: var(--gray);
}

.form__field:focus {
  border-width: 1.95px;
  font-size: 0.9rem;
}
